### ASP.NET Core ###
bin/
obj/
publish/
*.user
*.suo
*.cache
*.vs/
.vscode/
.env
*.db
*.db-shm
*.db-wal

### Build Results ###
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

### Config Files ###
appsettings.*.json
launchSettings.json

### User Uploads ###
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep

### Packages ###
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

### VS ###
*.VC.db
*.VC.VC.opendb